.registration-container {
    text-align: center;
    border: 1px solid grey;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
}
.form  {
    background-color:floralwhite;
   
}