.footer-container{
    background-color:rgb(61, 61, 245);
    margin-top: 20px;
    padding: 10px;
}
.icon{
    font-size: 25px;
}
.quick-items{
    list-style: none;
    margin-right: 30px;
    color: rgb(218, 214, 214)!important;
   
}